# Python bytecode
__pycache__/
*.pyc

# Virtual Environments (Crucial to ignore these!)
.venv/
env/
venv/
ENV/

# Streamlit
.streamlit/secrets.toml

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# IDE settings (Optional, keeps repo clean)
.vscode/
.idea/